<h1 class="text-center">Our Survey</h1>
<div class="container survey">
<form asp-action="CreateQuiz" asp-controller="Home" method="post">
    <div class="form-group">
    <label for="exampleFormControlSelect1">If you could live in any of these exotic locales, which would you choose?</label>
    <select class="form-control" id="exampleFormControlSelect1" name="Answer1">
        <option value="1">Paris</option>
        <option value="2">China</option>
        <option value="3">Australia</option>
        <option value="4">India</option>
        <option value="5">Mexico</option>
    </select>
    </div>
    <div class="form-group">
    <label for="exampleFormControlSelect1">Choose a talking animal:</label>
    <select class="form-control" id="exampleFormControlSelect1" name="Answer2">
        <option value="1">Horse</option>
        <option value="2">Shark</option>
        <option value="3">Racoon</option>
        <option value="4">Penguin</option>
        <option value="5">Lion</option>
    </select>
    </div>
    <div class="form-group">
    <label for="exampleFormControlSelect1">What do you like to do with you time off?</label>
    <select class="form-control" id="exampleFormControlSelect1" name="Answer3">
        <option value="1">Read</option>
        <option value="2">Go to the beach</option>
        <option value="3">Sports</option>
        <option value="4">Travel</option>
        <option value="5">Watch Movies</option>
    </select>
    </div>
    <div class="form-group">
    <label for="exampleFormControlSelect1">Where is the location of your preferred date?</label>
    <select class="form-control" id="exampleFormControlSelect1" name="Answer4">
        <option value="1">Coffee Shop</option>
        <option value="2">Movie Theater</option>
        <option value="3">The Zoo</option>
        <option value="4">A Restaurant</option>
        <option value="5">A Club/Bar</option>
    </select>
    </div>
    <div class="form-group">
    <label for="exampleFormControlSelect1">Which region has the best food?</label>
    <select class="form-control" id="exampleFormControlSelect1" name="Answer5">
        <option value="1">Asia</option>
        <option value="2">North America</option>
        <option value="3">South America</option>
        <option value="4">Europe</option>
        <option value="5">Australia</option>
    </select>
    </div>
    <p class="text-center"><button type="submit" class="btn btn-primary">Submit</button></p>
</form>
</div>