<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome (name)</h1>
    <p class="lead">Please take time to fill out our quick survey so that we may get a better feel for what type of restaurant to recommend, thanks!</p>
    <p class="text-center"><a href="/quiz"><button class="btn btn-primary">Take Survey</button></a></p>
    <p class="text-center"><a href="/swipe" ><button class="btn btn-primary">Start Browsing</button></a></p>
    
  </div>
</div>

